@model ProductsSearchPagerViewModel

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();

    int pageNo = 0;

    if (Model.Pager != null)
    {
        pager = Model.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>List of Products</h1>

<!-- Search and Filter form -->
<partial name="_SearchAndCategoryFilter" model="@Model" />

@* <a href="/Department/Add" class="btn btn-success">New</a> *@
<table class="table table-hover table-bordered">
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Units</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category Id</th>
    </tr>

    @foreach (var item in Model.products)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Units</td>
            <td>@item.Price</td>
            <td>@item.Description</td>
            <td>@item.CategoryId</td>
            <td>
                <a asp-action="ShowDetails" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-success">Add To Cart</a>
            </td>
        </tr>
    }
</table>


<partial name="_Pager" Model="@Model" />
