@model ProductsViewModel

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "Product";
    ViewData["Action"] = "Index";
    Pager pager = new Pager();

    int pageNo = 0;

    if (Model.pagerViewModel.Pager != null)
    {
        pager = Model.pagerViewModel.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>List of Products</h1>

<!-- Search and Filter form -->
<partial name="_SearchAndCategoryFilter" model="@Model" />
@if (User.IsInRole("Admin")) 
{
    <a asp-controller="Product" asp-action="Add" class="btn btn-success m-2 rounded">Add product</a>
}

<table class="table table-hover table-bordered">
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Units</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category Id</th>
    </tr>

    @foreach (var item in Model.products)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Units</td>
            <td>@item.Price</td>
            <td>@item.Description</td>
            <td>@item.CategoryId</td>
            @if (User.IsInRole("Admin"))
            {
                
                
                <td>
                    <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="ShowDetails" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-success">Show Details</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="ShowDetails" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-success">Add To Cart</a>
                </td>
               
            }
        </tr>
    }
</table>


<partial name="_Pager" Model="@Model.pagerViewModel" />
